In [ ]:
# Introduction to List datatype :

In [ ]:
Defination : A list is a collection of items in a particular order.
    
Classification : A list is classified as mutable datatype (editable).
    
    
How to define a list ...?

[] ----> using the square brackets we can define the list.

In [6]:
students = ['amardeep', 'ayushi', 'shalini', 'mukesh', 'pavan', 'saniya']

print(students)

['amardeep', 'ayushi', 'shalini', 'mukesh', 'pavan', 'saniya']

In [8]:
type(students)

list

In [9]:
print(type(students))

<class 'list'>

In [ ]:
Requirement : I want to get the shalini name in the output ?

In [ ]:
Introduction to indexing :
    
    In a List datatype indexing starts from 0 ---> means first value is assigned at Zero Position and so on.

In [10]:
print(students[2])

shalini

In [11]:
print(students[4])

pavan

In [12]:
print(students[4].title())

Pavan

In [ ]:
1. How to add a new element to the list.   # append('str') method --> It append the element in the last position.
                                           # insert(i, 'str') method --> insert the element at desired index in the list.

2. How to modify an element in the list.   # 

3. How to delete an element from the list.

In [ ]:
Requirement : I want to add ayushi in the list.

In [13]:
students.append('ayushi')

print(students)

['amardeep', 'ayushi', 'shalini', 'mukesh', 'pavan', 'saniya', 'ayushi']

In [15]:
students.append('naveen')

print(students)

['amardeep', 'ayushi', 'shalini', 'mukesh', 'pavan', 'saniya', 'ayushi', 'naveen']

In [ ]:
Requirement : Adding the element at the desired index ?  --- Add Salman at 4th Position in the list

In [16]:
students.insert(4, "Salman")

print(students)

['amardeep', 'ayushi', 'shalini', 'mukesh', 'Salman', 'pavan', 'saniya', 'ayushi', 'naveen']

In [18]:
print(students[4].upper())

SALMAN

In [ ]:
Requirement : want to replace shalini from the list with harika ?

In [23]:
students[2] = 'harika'

print(students)

['amardeep', 'ayushi', 'harika', 'mukesh', 'Salman', 'pavan', 'saniya', 'ayushi', 'naveen']

In [26]:
print(students[2])

harika

In [28]:
list_stds = students.copy() # copy() method --> creates a copy and assigned to the other variable.

print(list_stds)

['amardeep', 'ayushi', 'harika', 'mukesh', 'Salman', 'pavan', 'saniya', 'ayushi', 'naveen']

In [29]:
list_stds.reverse()     # reverse() method --> reverse the list from last to first.

print(list_stds)

['naveen', 'ayushi', 'saniya', 'pavan', 'Salman', 'mukesh', 'harika', 'ayushi', 'amardeep']

In [31]:
list_stds.sort()

print(list_stds)

['Salman', 'amardeep', 'ayushi', 'ayushi', 'harika', 'mukesh', 'naveen', 'pavan', 'saniya']

In [32]:
num_list = [55, 89, 36, 26, 96, 85, 74, 15, 53, 16, 52]

print(num_list)

[55, 89, 36, 26, 96, 85, 74, 15, 53, 16, 52]

In [33]:
num_list.sort()

print(num_list)

[15, 16, 26, 36, 52, 53, 55, 74, 85, 89, 96]

In [37]:
x = len(num_list)   # len() method ---> returns the number of elements in the list.

print(x)

11